@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

i {
  display: flex;
}

*::-webkit-scrollbar-thumb {
  background-color: #e0e7ff;
  border-radius: 20px;
  width: 3px;

  /* border: 3px solid rgb(124, 124, 124); */
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #e0e7ff;
  border-radius: 10px;
}

.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  display: none;
}

.fc-theme-standard td {
  border: 1px solid #bec6d43d;
}

.fc-theme-standard .fc-scrollgrid {
  border-left: 1px solid #bec6d43d;
  border-top: 1px solid #bec6d43d;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid #bec6d43d;
  color: #0c244d;
}

.fc-dayGridMonth-button:focus-within,
.fc-timeGridWeek-button:focus-within,
.fc-timeGridDay-button:focus-within,
.fc-prev-button:focus-within,
.fc-next-button:focus-within {
  background-color: #3b82f6 !important;
  color: white !important;
}

.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button,
.fc-prev-button,
.fc-next-button,
.fc-today-button {
  background-color: #3b83f600 !important;
  border: 1px solid #3b82f6 !important;
  outline: none !important;
  color: #3b82f6 !important;
}

.fc-dayGridMonth-button:focus,
.fc-timeGridWeek-button:focus,
.fc-timeGridDay-button:focus,
.fc-prev-button:focus,
.fc-next-button:focus,
.fc-today-button:focus {
  outline: none !important;
  box-shadow: unset !important;
}

/* Sidebar.css */
.custom-scrollbar {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.1);
  /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  /* Color of the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.8);
  /* Hover color of the thumb */
}