@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
i{
    display: flex;
}



/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

/* *::-webkit-scrollbar-track {
  background: orange;
} */

*::-webkit-scrollbar-thumb {
  background-color: #e0e7ff;
  border-radius: 20px;
  width: 3px;

  /* border: 3px solid rgb(124, 124, 124); */
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  display: none;
}